<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../style/favicon.svg" />
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=TU_API_KEY&libraries=places"></script>

    <title>CasaClick</title>
</head>
<body>
    <header class="dflex fjustify-center faling-items">
        <nav class="mainNav dflex faling-items fdirection-column">
            <div class="visualIcons dflex fjustify-between faling-items">
                <figure class="faling-items dflex"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5tVu5b79YOBUs6kqP4Lty8N1JPpbQMmlaiWQfcVGSMoPoEVEbyYb1a4eR3RK4CSnVGhA&usqp=CAU" width="50px" height="50px"> </figure>
                <i class='bx bx-menu-alt-right menu-toggle'></i>
                <a href="../templates/base.html"></a>
            </div>
        </nav>
    </header>
    <main>
        <section class="home">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide dflex fjustify-center faling-items">
                        <section class="slider">
                            <figure><img src="https://res.cloudinary.com/deo9hwbhx/image/upload/v1670891487/img__001_na5rik.jpg" alt="img__001"></figure>
                            <div class="sliderText dflex fjustify-center faling-items fdirection-column">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSzS1wsMig7ZtQqW1dxtK8FI2LggT_bU3O3w&usqp=CAU" width="50px" height="50px"> 
                                <div class="parrafoContent" align="center"> 
                                    <a href="../static/pages/public/map.html"><CUCUTA-Proximamente>PAMPLONA</CUCUTA-Proximamente></a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
           
        </section>
    </main>
    <footer class="dflex fjustify-between">
        <h3>Casa click </h3>
        <div class="contentTauro dflex">
            <p>Derechos reservados 2023 &copy;  </p>

        </div>
    </footer>

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../static/js/public/mapFront.js" type="module"></script>
    <script src="../static/js/public/swiper.js"></script>
    <script src="../static/js/main.js" type="module"></script>
</body>
</html>