/* configuracion del loader  */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--tone-red);
  border-color: var(--tone-red) transparent var(--tone-red) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--tone-white);
    z-index: 10;
}

.loader p {
    color: var(--tone-red);
    margin-top: 30px;
}

.loaderStop {
    display: none;
}

/* configuracion de espacio */
.space {
  width: 100%;
  height: 100px;
}

/* configuracion del singleSite */
.contentHeader {
  padding: 0px 10px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.contentHeader .apiInfo h2 {
  color: var(--tone-red);
  font-weight: var(--fnt-medium);
}

.contentHeader .apiInfo p {
  color: var(--tone-gray-3);
}

.contentHeader .returnBtn a {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  border-radius: 20px;
  color: var(--tone-red);
  transition: .3s;
}

.contentHeader .returnBtn a:hover {
  transform: scale(.95);
}

.singleSite figure {
  width: 90%;
  max-width: 900px;
  overflow: hidden;
  margin: 15px auto;
}

.singleSite figure img {
  width: 100%;
}

.singleSite .singleInfo {
  width: 90%;
  max-width: 900px;
  margin: 15px auto;
}

.contentDescriptionInmueble {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contentDescriptionInmueble a {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  border-radius: 20px;
  color: var(--tone-red);
  transition: .3s;
}

.contentDescriptionInmueble a:hover {
  transform: scale(.95);
}

.singleSite .singleInfo h2 {
  color: var(--tone-red);
  font-weight: var(--fnt-medium);
  font-size: 30px;
  margin: 20px 0;
}

.singleSite .singleInfo p {
  color: var(--tone-gray-3);
  text-align: justify;
  font-weight: var(--fnt-light);
  font-size: 20px;
}

.singleSite .singleInfo address {
  color: var(--tone-gray-3);
  font-weight: var(--fnt-bold);
  font-size: 20px;
  margin-top: 30px;
}

.mapContact {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.linkAccess2 {
  width: 70%;
  margin: 20px auto;
}

.linkAccess2 a {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  border-radius: 20px;
  color: var(--tone-red);
  transition: .3s;
}

.linkAccess2 a:hover {
  transform: scale(.95);
}

.ruteSingle p {
  margin-left: 5px;
}

#map {
  width: 100%;
  height: 300px;
}

.link {
  margin: 5px 0;
  color: red;
  transition: .3s;
}

.link:hover {
  text-decoration: underline;
}

/* Section noticias */

.anotherNews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 20px;
}

.cardNew {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.cardNew .contentTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding-left: 10px;
}

.cardNew .contentTitle h2 {
  font-size: 24px;
  color: white;

}

.cardNew a {
  cursor: pointer;
}

.cardNew a img {
  filter: brightness(50%);
  width: 100%;
  height: 100%;
  transition: .3s;
}

.cardNew a img:hover {
  transform: scale(1.2);
}

.singleSite .figureImg {
  margin-top: 40px;
}

@media screen and (max-width: 925px) {
  .anotherNews {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 525px) {
  .anotherNews {
    grid-template-columns: repeat(1, 1fr);
  }
}
