<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../../../assets/favicon.svg" />
    <link rel="stylesheet" href="../../css/private/main.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <title>cPanel | Casa Click</title>
</head>
<body>
    <header class="dflex fjustify-center faling-items">
        <div class="visualIcons dflex fjustify-between faling-items">
            <figure class="faling-items dflex"><img src="../../../assets/logo_001.svg" alt="logo-casa-click"/></figure>
            <div class="userData">
                <h2>Marcos Admin</h2>
                <p>Admin</p>
            </div>
        </div>
    </header>
    <div class="logout">
        <i class='bx bx-log-out-circle'></i>
    </div>
    <div class="space"></div>
    <main class="home">
        <nav class="Links dflex faling-items fjustify-center">
            <a href="../../../index.html">Página de inicio</a>
            <a href="./map.html">Mapa</a>
            <a href="./noticiaSection.html">Noticias</a>
            <a href="./ciudad.html">Ciudades</a>
        </nav>
        <section class="logo dflex fjustify-center faling-items fdirection-column">
            <figure class="dflex fjustify-center faling-items"><img src="../../../assets/logo_002.svg" alt="logo-logo"/></figure>
            <h3>Software Casa Click</h3>
            <p>Desarrollado por <a href="https://www.instagram.com/taurodev" target="_blank">TauroDev</a></p>
        </section>
    </main>

    <script src="../../js/private/main.js" type="module"></script>
    <script src="../../js/private/home.js" type="module"></script>
</body>
</html>