<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../../../assets/favicon.svg" />
    <link rel="stylesheet" href="../../css/private/main.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <title>cPanel | Crear noticia</title>
</head>
<body>
    <header class="dflex fjustify-center faling-items">
        <div class="visualIcons dflex fjustify-between faling-items">
            <figure class="faling-items dflex"><img src="../../../assets/logo_001.svg" alt="logo-casa-click"/></figure>
            <div class="userData">
                <h2>Marcos Admin</h2>
                <p>Admin</p>
            </div>
        </div>
    </header>
    <div class="logout">
        <i class='bx bx-log-out-circle'></i>
    </div>
    <div class="space"></div>
    <div class="home">
        <nav class="Links dflex faling-items fjustify-center">
            <a href="./home.html">Inicio</a>
            <a href="./noticiaSection.html">Crear</a>
            <a href="#">Administrar</a>
        </nav>
    </div>
    <main class="adminNews">
        <h3>desde el administrador de noticias</h3>
    </main>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../js/private/main.js" type="module"></script>
    <script src="../../js/private/adminNew.js" type="module"></script>
</body>
</html>