<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/noticias.css">
    <link rel="icon" type="image/svg+xml" href="../../../style/favicon.svg" />
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <title>Casa Click | Sección de noticias destacadas</title>
</head>
<body>
    <header class="dflex fjustify-center faling-items">
        <nav class="mainNav dflex faling-items fdirection-column">
            <div class="visualIcons dflex fjustify-between faling-items">
                <figure class="faling-items dflex"><img src="../../../style/logo_001.svg" alt="logo-casa-click"></figure>
                <i class='bx bx-menu-alt-right menu-toggle'></i>
            </div>
            <div class="links dflex fdirection-column faling-items">
                <a href="../../../index.html#home">Inicio</a>
                <a href="../../../index.html#cvivienda">Comprar vivienda</a>
                <a href="../../../index.html#vvivienda">Vender vivienda</a>
                <a href="../../pages/public/noticias.html">Noticias</a>
                <a href="../../pages/public/map.html">Mapa de viviendas</a>
                <div class="linkAccess dflex faling-items fjustify-between"></div>
            </div>
        </nav>
    </header>
    <div class="space"></div>
    <main class="contentNews">
        <div class="contentTitle">
            <h3>Noticias actuales</h3>
        </div>
        <div class="contentControllers">
            <div class="contentInput">
                <i class='bx bx-search'></i>
                <input type="text" class="search" placeholder="Buscar sitio">
            </div>
            <a href="../../../templates/base.html">
                <i class='bx bx-chevron-left'></i>
                <p>Regresar</p>
            </a>
        </div>
        <div class="contentPrint">
            <section class="printNews"></section>
            <div class="loadMore"></div>
        </div>
    </main>

    <script src="../../js/public/mainMap.js" type="module"></script>
    <script src="../../js/public/noticias.js" type="module"></script>
</body>
</html>